@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2e44;
}
.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  /* background: white; */
  padding: 30px;
  background:#2d2f41;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.timer:before{
  content:'';
    position: absolute;
    background: linear-gradient(-90deg,#24ff6d,#2f93f1,#ff5e9a);
    background-size: 200% 200%;
    top: -15px;
    left: -17px;
    bottom: -16px;
    right: -17px;
    z-index: -1;
    filter: blur(150px);
    animation: glowing 2s ease-in-out infinite alternate ;
}
@keyframes glowing {
  0%,100%{
      background-position: 0% 0%;
      /* transform: rotate(180deg); */
      transform: rotate(180deg);
  }
  50%{
      background-position: 50% 50%;
      transform: rotate(-180deg);
  }
}
.timer__part {
  font-size: 5.5em;
  font-weight: 60;
  color: white;
  background:  -webkit-linear-gradient(45deg,#fb89ff,#65baff);
  /* background: linear-gradient(90deg,#8208e6,#ff7777,#ff9def,#7bc2fd); */
  background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}
